DirectoryIndex sitehome.php
Options -Indexes

<FilesMatch "\.conf.php|sitemap.json$">
    Order allow,deny
    Deny from all
</FilesMatch>


RewriteEngine on

# Remove .php extension for admin routes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^admin/(.*)$ admin/$1.php [L]

# Check if MULTI_LANGUAGE is set to true
RewriteCond %{ENV:MULTI_LANGUAGE} =true

# If true, use language-specific routes
RewriteRule ^([a-z]{2})/whoami/?$ about.php [QSA]
RewriteRule ^([a-z]{2})/?$ sitehome.php [QSA]
RewriteRule ^([a-z]{2})/licences/?$ licences.php [QSA]
RewriteRule ^([a-z]{2})/posts/?$ posts.php?all=1 [QSA]
RewriteRule ^([a-z]{2})/post/((.)+)? post.php?file=$2 [QSA]
RewriteRule ^([a-z]{2})/search/?$ posts.php [QSA]
RewriteRule ^([a-z]{2})/tag/((.)+)?$ posts.php?tag=$2 [QSA]
RewriteRule ^([a-z]{2})/tag$ posts.php?tag= [QSA]

# If false, use non-language-specific routes
RewriteCond %{ENV:MULTI_LANGUAGE} =false
RewriteRule ^whoami/?$ about.php [QSA]
RewriteRule ^/?$ sitehome.php [QSA]
RewriteRule ^licences/?$ licences.php [QSA]
RewriteRule ^posts/?$ posts.php?all=1 [QSA]
RewriteRule ^post/((.)+)? post.php?file=$1 [QSA]
RewriteRule ^search/?$ posts.php [QSA]
RewriteRule ^tag/((.)+)?$ posts.php?tag=$1 [QSA]
RewriteRule ^tag$ posts.php?tag= [QSA]

ErrorDocument 404 /404.php
