DirectoryIndex sitehome.php
Options -Indexes

<FilesMatch "\.conf.php|sitemap.json$">
    Order allow,deny
    Deny from all
</FilesMatch>


RewriteEngine on

# Capture language from URL and set environment variable (any 2-letter code)
# RewriteRule ^([a-z]{2})/ - [E=LANGUAGE:$1]

# Avoid redirection loop by checking if the language is already present in the URL
# RewriteCond %{ENV:REDIRECT_STATUS} ^$
# RewriteCond %{REQUEST_URI} !^/([a-z]{2})/
# RewriteRule ^(.*)$ /en/$1 [R=302,L]

# Define rules with language parameter
RewriteRule ^whoami/?$ about.php [QSA]
RewriteRule ^/?$ sitehome.php [QSA]
RewriteRule ^licences/?$ licences.php [QSA]
RewriteRule ^posts/?$ posts.php?all=1 [QSA]
RewriteRule ^post/((.)+)? post.php?file=$1 [QSA]
RewriteRule ^search/?$ posts.php [QSA]
RewriteRule ^tag/((.)+)?$ posts.php?tag=$1 [QSA]
RewriteRule ^tag$ posts.php?tag= [QSA]

# Language-specific routes
RewriteRule ^([a-z]{2})/whoami/?$ about.php [QSA]
RewriteRule ^([a-z]{2})/?$ sitehome.php [QSA]
RewriteRule ^([a-z]{2})/licences/?$ licences.php [QSA]
RewriteRule ^([a-z]{2})/posts/?$ posts.php?all=1 [QSA]
RewriteRule ^([a-z]{2})/post/((.)+)? post.php?file=$2 [QSA]
RewriteRule ^([a-z]{2})/search/?$ posts.php [QSA]
RewriteRule ^([a-z]{2})/tag/((.)+)?$ posts.php?tag=$2 [QSA]
RewriteRule ^([a-z]{2})/tag$ posts.php?tag= [QSA]

ErrorDocument 404 /404.php
