DirectoryIndex sitehome.php
Options -Indexes

<FilesMatch "\.conf.php|sitemap.json$">
    Order allow,deny
    Deny from all
</FilesMatch>


RewriteEngine on

# Capture language from URL and set environment variable (any 2-letter code)
# RewriteRule ^([a-z]{2})/ - [E=LANGUAGE:$1]

# Avoid redirection loop by checking if the language is already present in the URL
# RewriteCond %{ENV:REDIRECT_STATUS} ^$
# RewriteCond %{REQUEST_URI} !^/([a-z]{2})/
# RewriteRule ^(.*)$ /en/$1 [R=302,L]

# Define rules with language parameter
RewriteRule ^([a-z]{2})/whoami/?$ about.php [QSA]
RewriteRule ^([a-z]{2})/?$ sitehome.php [QSA]
RewriteRule admin/setup/?$ admin/setup.php [QSA]
RewriteRule admin/dashboard/?$ admin/dashboard.php [QSA]
RewriteRule admin/?$ admin/dashboard.php [QSA]
RewriteRule admin/generate-sitemap?$ admin/generate_sitemap.php [QSA]
RewriteRule ^([a-z]{2})/licences/?$ licences.php [QSA]
RewriteRule ^([a-z]{2})/posts/?$ posts.php?all=1 [QSA]
RewriteRule ^([a-z]{2})/post/((.)+)? post.php?file=$2 [QSA]
RewriteRule ^([a-z]{2})/search/?$ posts.php [QSA]
RewriteRule ^([a-z]{2})/tag/((.)+)?$ posts.php?tag=$2 [QSA]
RewriteRule ^([a-z]{2})/tag$ posts.php?tag= [QSA]

ErrorDocument 404 /404.php
